.nav{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    height: 10vh;
    width: 100%;
    background-color: #e2ded4;
    /* position: fixed;  */
    box-shadow: brown;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}
*{
    margin: 0;
    padding: 0;
 } 